.above-defold {
	background-image: url('static/jumbotron-img.jpg');
	background-repeat: no-repeat;
  	background-size: cover;

	height: 100%
}

.above-defold h1 {
	font-size: 70px;
	margin-top: 130px;
	color: #1BE7DC;
	text-shadow: 5px 5px 8px black;

}

.features {
	background-color: white;
	height: 100%;
	margin-top: 40px;
}

#nav-style {
	background-color: white;
	margin-bottom: 0px;
	border-radius: 0%;
	border-bottom: 2px solid #FF004E;
}

.no-link {
	text-decoration: none;
	color: white;
}

.no-link:hover{
	text-decoration:none;
	color: white;

}

.call-to-action {
	margin-top: 20px;
	font-size: 40px;
	width: 200px;
	height: 60px;
	color: white;
	background-color: #FF004E;
	border-bottom: 5px solid #A60039;
	border-radius: 10px;
}


.call-to-action:hover {
	width: 202px;
	height: 62px;
	border-bottom: 6px solid #A60039;
}

.feature-one {
	margin-top: 30px; 
	background-color: #efefef;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-feature {
	border: 1px solid #FF004E;
}

.feature-two {
	margin-top: 0px; 
	/*background-color: #efefef;*/
    /*border-top: 1px solid #dbdbdb;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-height h2{
	padding-top: 40px;
}

.img-feature-two {
	max-width: 90%;
	border: 1px solid #FF004E;
}

.feature-three {
	margin-top: 0px; 
	background-color: #efefef;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact {
	background-color: #1BE7DC;
	padding-bottom: 10px;
	padding-bottom: 20px;
}

.call-to-action-two {
	color: white;
	background-color: #FF004E;
	border-bottom: 5px solid #A60039;
	border-radius: 10px;
	width: 20%;
	height: 8%;
}

.call-to-action-two:hover {
	width: 20.1%;
	height: 10.1%;
	border-bottom: 6px solid #A60039;
	padding-bottom: 0px;
}

.call-to-action-two a h3{
	font-size: 30px;
	padding-top: 10px;
}

.footer {
	background-color: #1BE7DC;
}

.footer-description {
	margin-top: 10px;
	font-size: 18px;
}

.no-link-footer a {
	color: #333;
}